<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="your_cloudfront_link_/static/css/styles.css" />
    <title>My Portfolio - Home</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="your_cloudfront_link_/base.html">Home</a>
        <a href="your_cloudfront_link_/about.html">About</a>
        <a href="your_cloudfront_link_/contact.html">Contact</a>
        <a href="your_cloudfront_link_/form.html">Project Inquiry</a>
      </nav>
    </header>
    <main>
      <h1>Welcome to My Portfolio</h1>
      <!-- Add your home page content here -->
    </main>
    <footer>
      <p>&copy; 2024 My Portfolio. All rights reserved.</p>
    </footer>
    <script src="your_cloudfront_link_/static/js/scripts.js"></script>
  </body>
</html>
